html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
	padding: 2em;
}

/* ---------------------------- */

.pes{
	fill:silver;
	stroke:black;
	stroke-width: 2px;
}

.pes:hover{
	fill:red;
}

.button{
	color:blue;
}

button:hover{
	color:hotpink;

}

.button-primary{
	background-color: red;
	color:white;
}

/*.button-primary{
	background-color:currentColor;
}*/