html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
	padding: 2em;
}

/* ---------------------------- */

.pes{
	fill:pink;
	stroke:black;
	stroke-width: 5px;
}

.pes:hover{
	fill:red;
}

.button{
	color:blue;
}

.button:active{
	color:greenyellow;
}

button:hover{
	color:hotpink;

}

.button-primary{
	background-color: red;
	color:white;
}

.button-primary span {
	background-color: currentColor;
}

.listecek:hover{
fill: green;
opacity: 1;
}

.listecek:hover .list{
	fill:green;
	opacity:1;
}

.listecek:hover .stonek{
	fill:burlywood;

}

/*.button-primary{
	background-color:currentColor;
}*/